body {
    background-color: skyblue;
    font-size: 1.5em;
    font-family: "Josefin Sans", serif;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

.home_page_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.home_page_grid_block {
    border: 1px solid black;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 1em;
    flex-shrink: 1;
    flex-basis: 0;
}
