html {
    --rose: rgb(196, 11, 121);
    --blue: rgb(0, 157, 227);
    --yellow: rgb(255, 241, 3);
    --folly: rgb(255, 0, 90);
    --green: rgb(71, 180, 74);
    --purple: rgb(137, 42, 150);
    --red: rgb(229, 45, 31);
    --orange: rgb(255, 165, 0);
    --bluey: rgb(0, 60, 255);
}

body {
    background-color: var(--blue);
    font-size: 1.5em;
    font-family: "Josefin Sans", serif;
    display: flex;
    flex-direction: column;
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.3em;
    text-align: justify;
    border: 2px var(--yellow) solid;
}

header {
    text-align: center;
}

.home_page_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.3em;
}

.home_page_grid_block {
    border: 1px solid black;
    text-align: center;
    padding: 0.3em;
}

footer {
    text-align: center;
    font-size: 1em;
    flex-shrink: 1;
    flex-basis: 0;
}

a {
    text-decoration: none;
    color: var(--orange);
}

.main_page_button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.3em;
    width: fit-content;
    background-color: black;
}

.rules_summary {
    list-style-type: decimal;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary > h1 {
    margin: 0;
}

h1, h3 {
    color: white;
}

.highlight {
    color: var(--rose);
}

.underline {
    text-decoration: underline;
}

.logo > img {
    width: 50%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
