<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Smile Life{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}"
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <p><a href="https://github.com/HikariYlan">©Hikari / Ylan</a> | 2024 - 2025</p>
    </footer>
</html>
